{% extends 'template.html' %}
{% block title %} Ситх {% endblock %}
{% block body %}
    <div class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Количество рук тени</h1>
      <ul class="list-group">
         {% for sith in with_count %}
          <li class="list-group-item"><a href="/sith/{{sith.id}}">{{sith.name}} - {{sith.recruit__count}}</a></li>
          {% endfor %}
      </ul>
      <h1 class="h3 mb-3 font-weight-normal">> 1 руки</h1>
      <ul class="list-group">
         {% for sith in gt1 %}
          <li class="list-group-item"><a href="/sith/{{sith.id}}">{{sith.name}}</a></li>
          {% endfor %}
      </ul>
    </div>
{% endblock %}