{% extends 'template.html' %}
{% block title %} Регистрация {% endblock %}
{% block body %}
    <div class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
       <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Регистрация</button>
    </form>
    </div>
{% endblock %}