{% extends 'template.html' %}
{% block title %} Тест пройден {% endblock %}
{% block body %}
    <div class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Ожидайте приглашения</h1>
    </div>
{% endblock %}