{% extends 'template.html' %}
{% block title %} {{recruit.name}} {% endblock %}
{% block body %}
    <div class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">{{recruit.name}}</h1>
      <h2 class="h3 mb-3 font-weight-normal">{{message}}</h2>
      <ul class="list-group">
         {% for answer in answers %}
          <li class="list-group-item">
              <b>{{answer.question.text}}</b><br>
              {{answer.value}}
          </li>
          {% endfor %}
      </ul>
        <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{{buttonText}}</button>
        </form>
        <a href="{% url 'sith' id=sith_id %}" class="btn btn-primary">Назад</a>
    </div>
{% endblock %}