{% extends 'template.html' %}
{% block title %} Ситх {% endblock %}
{% block body %}
    <div class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">{{title}}</h1>
      <ul class="list-group">
         {% for recruit in recruit_list %}
          <li class="list-group-item"><a href="/recruit/{{recruit.id}}?sith_id={{sith_id}}">{{recruit.name}}</a></li>
          {% endfor %}
      </ul>
        <a href="?my=true" class="btn btn-primary">Мои руки тени</a>
        <a href="?" class="btn btn-primary">Все руки тени</a>
    </div>
{% endblock %}