{% extends 'template.html' %}
{% block title %} Ситх {% endblock %}
{% block body %}
    <div class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Выберите себя!</h1>
      <ul class="list-group">
         {% for sith in sith_list %}
          <li class="list-group-item"><a href="/sith/{{sith.id}}">{{sith.name}}</a></li>
          {% endfor %}
      </ul>
    </div>
{% endblock %}