{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <title>{% block title %}Starwars{% endblock %}</title>
  </head>
  <body class="text-center">
  {% block body %}
    <div class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Велкам</h1>
      <a href="{% url 'sith_select' %}" class="btn btn-primary text-white">Для Ситхов</a>
      <a href="{% url 'recruit_signup' %}" class="btn btn-danger" text-white>Для рекрутов</a><br>
      <a href="{% url 'bonus' %}" class="btn btn-danger" text-white>Бонусные задания</a>
    </div>
  {% endblock %}
  </body>
</html>